* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body,
html,
#wrapper {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: SFProDisplay-Bold;
	src: url("../fonts/sf_prodisplay_bold.ttf");
}

@font-face {
	font-family: SF Pro Display Semibold;
	src: url("../fonts/sf_prodisplay_Semibold.ttf");
}

@font-face {
	font-family: SF Pro Display Regular;
	src: url("../fonts/sf_prodisplay_regular.ttf");
}

@font-face {
	font-family: SF Pro Display Light;
	src: url("../fonts/sf_prodisplay_light.ttf");
}

@font-face {
	font-family: SFProDisplay-Medium;
	src: url("../fonts/sf_prodisplay_medium.ttf");
}

#wrapper {
	width: 100%;
	height: 1671px;
	background-color: #f4fafa;
	font-family: SF Pro Display Semibold;
	display: flex;
	flex-direction: column;
}

#wrapper__top {
	width: 100%;
	height: 891px;
	background-image: url("../img/Background_Image.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

nav {
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	padding: 45px 90px;
	width: 100%;
}
nav ul {
	list-style-type: none;
	display: flex;
	width: 70%;
	justify-content: flex-end;
	align-items: center;
}
#nav__menu {
	display:none;
}
#nav__menu div {
	width: 28px;
	height: 3px;
	background-color: rgb(180, 180, 180);
	margin: 5px 0;
}
#nav__logo {
	width: 155px;
	height: 64px;
}
#nav__bar li .nav__bar--select {
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 1.36;
	color: #bbb;
	text-decoration: none;
	margin:0px 25px;
}

#nav__bar #nav__bar--button {
	width: 154px;
	height: 59px;
	border-radius: 10px;
	border: solid 2px #2699fb;
	background: none;
	color: #2699fb;
}

.wrapper__top--heading {
	font-size: 4.375rem;
	font-weight: bold;
	line-height: 0.86;
	color: #fff;
	position: absolute;
	left: 90px;
	bottom: 147px;
}

.wrapper__top--subHeading {
	font-size: 1.75rem;
	color: #fff;
	line-height: 2.14;
	position: absolute;
	left: 90px;
	bottom: 102px;
}

#vehicle__search {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 506px;
	border-radius: 15px;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	padding: 33px 39px 14px 47px;
	position: absolute;
	top: 161px;
	right: 227px;
}

#vehicle__search h2 {
	font-weight: bold;
	line-height: 1.33;
	color: black;
	position: static;
	margin-bottom: 20px;
}

.custom__select {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.custom__select--listing {
	position: relative;
	width: 200px;
	height: 50px;
	margin-bottom: 20px;
}

.custom__select--listing:after {
	content: '\f107';
	font: normal normal normal 25px/1 FontAwesome;
	color: #7f99a6;
	position: absolute;
	right: 16px;
	bottom: 12px;
	pointer-events: none;
}

.custom__select--listing select {
	padding-left: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	background-color: #f4fafa;
	border: none;
	font-size: 1.125rem;
	color: #7f99a6;
	background-image: none;
}

.slider {
	-webkit-appearance: none;
	background: linear-gradient(to right, #00def8 0%, #18b3fa 50%, #f4fafa 50%, #f4fafa 100%);
	outline: none;
	width: 100%;
	height: 5.9px;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 23px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
}

.slider:focus {
	outline: none;
}

.slider::-webkit-slider-thumb {
	cursor: pointer;
	width: 16px;
	height: 16px;
	border: solid 2px #ffffff;
	background-color: #2699fb;
	border-radius: 50%;
}

#vehicle__search div p,
#slidecontainer span {
	font-size: 0.875rem;
	font-weight: bold;
	margin-top: 8.9px;
	line-height: 1.36;
	color: #2699fb;
	cursor: pointer;
}

#slidecontainer {
	display: flex;
	flex-direction: column;
}

#slidecontainer p {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#slidecontainer .slidecontainer__title {
	color: black !important;
	font-size: 1.375rem;
}

#slidecontainer .slidecontainer__price,
#slidecontainer .slidecontainer__price span {
	color: black !important;
	font-size: 1.063rem;
}

#vehicle_options {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.vehicle__option--choose {
	width: 130px;
	height: 65px;
	border-radius: 6px;
	
	font-size: 1.125rem;
	font-family: SF Pro Display Medium;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0px 20px;
	margin-bottom: 15px;
	color: #7f99a5;
	border: solid 2px #7f99a5;
	background-color: #fafafa;
}

.vehicle__option--choose__exception {
	border: solid 2px #1997ff;
	background-color: #e3f3ff;
	color: #2699fb;
}

.vehicle__option--choose:hover {
	cursor: pointer;
}

#vehicle__search--bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*Bottom*/

#wrapper__bottom {
	padding: 87px 90px 52px 90px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

#wrapper__bottom #title {
	font-size: 2.75rem;
	color: #203643;
	line-height: 1.36;
}

#wrapper__bottom--slider {
	height: 430px;
	margin-top: 44px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.slider__element {
	border-radius: 10px;
	background-color: #ffffff;
	width: 380px;
}

.slider__element--top {
	width: 100%;
	height: 266px;
	background-image: url("../img/bmw.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.slider__element--top p:first-child {
	width: 137.1px;
	height: 31.6px;
	border-radius: 5px;
	background-color: #24fe83;
	text-align: center;
	font-size: 1rem;
	color: #203542;
	padding-top: 6.3px;
	position: absolute;
	top: 12px;
	right: 14px;
}

.slider__element--top p:last-child {
	width: 138.7px;
	height: 46.2px;
	border-radius: 5px;
	background-color: #203643;
	color: white;
	padding-right: 29.1px;
	padding-left: 19.7px;
	position: absolute;
	left: 19px;
	bottom: 18px;
	font-family: SF Pro Display Regular;
	padding-top: 7px;
	line-height: 17px;
}

.slider__element--top p:last-child span:first-child {
	font-size: 1.188rem;
	font-weight: bold;
}

.slider__element--top p:last-child span:last-child {
	font-size: 0.5625rem;
}

.slider__element--bottom p:first-child strong {
	font-family: SFProDisplay-Bold;
}

.slider__element--bottom .element__bottom--heading {
	font-size: 1.5rem;
	color: #2699fb;
	padding-left: 21px;
	padding-top: 11.8px;
	padding-bottom: 11.7px;
	font-weight: lighter;
	font-family: SF Pro Display Light;
}

.slider__element--bottom hr {
	width: 390px;
	height: 1px;
	border: solid 2px #f3f7f8;
	color: #f3f7f8;
	margin: auto;
}

.element__bottom--desc {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-evenly;
}

.slider__element--bottom .element__bottom--desc p {
	font-family: SFProDisplay-Medium;
	font-size: 1.25rem;
	color: #7f9aa5;
	display: flex;
	flex-direction: column;
}

.slider__element--bottom .element__bottom--desc p:first-child {
	padding-top: 0px;
	padding-bottom: 0px;
}

.slider__element--bottom .element__bottom--desc p strong {
	font-family: SFProDisplay-Bold;
	color: black;
}

#wrapper__bottom button {
	margin-top: 59px;
	width: 700px;
	height: 50px;
}

button:active {
	transform: translateY(2px);
}

.btn {
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(92deg, #00def8 8%, #18b3fa 32%, #2699fb 63%);
	border-radius: 5px;
	border: none;
	cursor: pointer;
	display: block;
	margin: auto;
}

.btn:first-child {
	width: 200px;
	height: 50px;
}

.active {
	border-bottom: 1px solid white;
	color: #fff!important;
	padding-bottom: 16px;
}

.border {
	border-right: 2px solid #f3f7f8;
	border-left: 2px solid #f3f7f8;
	padding: 0px 30px;
}

.owl-dots {
	display: none;
}


.mobileHeader{
	display:none;
}
@media only screen and (max-width:1380px) {
	.wrapper__top--heading {
		font-size: 3.75rem;
	}
	.wrapper__top--subHeading {
		font-size: 1.25rem;
	}
	#vehicle__search {
		right: 100px;
	}
}

@media only screen and (max-width:1250px) {
	body,
	html {
		width: 100%;
		height: 100%;
		background-color: #f4fafa;
	}
	nav{
		padding-top:0px;
		padding-bottom:20px;
	}
	#wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
	#wrapper__top {
		width: 100%;
		order: 1;
		position: relative;
	}
	#vehicle__search {
		width: 100%;
		position: static;
		order: 2;
	}
	#wrapper__bottom {
		width: 100%;
		order: 3;
	}
	.custom__select .custom__select--listing {
		margin: 15px!important;
	}
	#top__box--transparent {
		background-color: rgba(1, 1, 1, 0.5);
		position: absolute;
		bottom: 0px;
		top: 0px;
		right: 0px;
		left: 0px;
		z-index: 0;
	}
	nav{
		position: static;
	}
	 #nav__logo,  .wrapper__top--heading, 
	 .wrapper__top--subHeading {
	display:none;
	}

	#nav__bar {
		width: 100%;
		padding-right: 0px;
		position: relative;
		z-index: 1;
	} 
	.active {
		border: none;
		padding-bottom: 0px;
		color:#bbb!important;
	}

	.mobileHeader{
		display: flex;
		justify-content: space-between;
		margin:10px;
	}
	.mobileHeader--left{
		display:flex;
		z-index:1;
	}
	.mobileHeader .mobileHeader--left div{
		margin:10px;
	}
	.mobileHeader div img{
		width:50px!important;
	}
	.mobileHeader .mobileHeader--left div:nth-last-child(1) h1{
		font-size: 1.25rem;
		font-weight: bold;
		line-height: 0.86;
		color: #fff;
	}
	.mobileHeader .mobileHeader--left div:nth-last-child(1) h6{
		font-size: 0.625rem;
		color: #fff;
		line-height: 2.14;
	}
	#nav__menu{
		display:block;
		margin:10px 25px;
		z-index:1;
	}
	 #nav__menu:hover{
		cursor: pointer;
	}
}

@media only screen and (max-width:990px) {

	#nav__bar {
		display: flex;
		flex-direction: column;
	}
	.nav__bar--select {
		font-size: 1.125rem;
		line-height: 1.36;
		color: #bbb;
		margin-right: 27px;
		display: block;
		margin: 12px;
		padding:10px 0px;
	}
	.nav__bar--select:hover {
		color: white;
		cursor: pointer;
		font-size: 1.25rem;
	}
	#nav__bar--button {
		width: 154px;
		height: 30px;
		border-radius: 10px;
		border: solid 2px #2699fb;
		background: none;
		color: #2699fb;
		display: block;
		margin: 15px auto 10px auto!important;
	}
	#vehicle_options {
		justify-content: space-evenly;
	}
	.custom__select {
		justify-content: space-evenly;
	}
	.custom__select--listing,
	.custom__select--listing select {
		width: 100%;
	}
	.btn {
		font-size: 1rem;
		width: 100%!important;
	}
}

@media only screen and (max-width:550px) {
	#wrapper__bottom {
		padding: 87px 70px 52px 80px;
	}
}

@media only screen and (max-width:450px) {
	#wrapper__bottom {
		padding: 87px 10px 52px 10px;
	}
	#wrapper__bottom #title {
		font-size: 2rem;
	}
	.slider__element {
		width: 95%;
	}
	
}
@media only screen and (max-width:376px){
	.owl-carousel{
		margin:0px auto!important;
		width:300px!important;
	}
	.slider__element{
		width:300px!important;
	}
}


